* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #005f73;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* Tabele */

.wprowadz{
    width: 80%;
    margin: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table th {
    width: 10%;
}

.tytulTab{
    width: 50%;
    height: 40px;
}

table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

tr {
    width: 50%;
    height: 100%;
}


h2 {
    text-align: center;
    margin: 4% 0;
    color: #f4f4f4;
}


article {
    padding: 10px;
    text-align: center;
}

footer {
    text-align: right;
    background-color: #005f73;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
.Rodzina {
    background-color: green;
    color: white;
}
.Przyjaciele {
    background-color: blue;
    color: black;
}
.Praca {
    background-color: gray;
    color: black;
}
.aa{
    color: #005f73;
}

.dodajPrz{
    background-color:#005f73;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.dodajPrz:hover{
    background-color: #04AA6D;
}
.dodajPrz .dodajtip {
    visibility: hidden;
    width: 160px;
    background-color: rgb(103, 96, 96);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
.dodajPrz:hover .dodajtip {
    visibility: visible;
}
.dodajPrz:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }

section{
    width: 100%;
    height: 160px;
}

.panda{
    width: 230px;
    height: 160px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {left:-300px; top:0px;}
    40%  {left:300px; top:0px;}
    100%  {left:0px; top:0px;}
  }