* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

/* Nagłówek */
header {
    text-align: center;
    background-color: #005f73;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* Nawigacja */
nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    display: inline-block;
    margin: 5px 10px;
    background-color: #0a9396;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #94d2bd;
}

/* nav a:visited{
    background-color: #a2184b;
} */

/* Tabele */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tytulTab{
    width: 50%;
    height: 40px;
}

table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

tr {
    width: 50%;
    height: 100%;
}

tbody > tr:nth-child(odd) {             /* koloruje nam nieparzyste wiersze w tabeli */
    background-color: rgb(117, 234, 222);
}

/* Nagłówki sekcji */
h3, h4 {
    text-align: center;
    margin: 20px 0;
    color: #005f73;
}

article {
    padding: 10px;
    text-align: center;
}

/* Stopka */
footer {
    text-align: right;
    background-color: #005f73;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}