body{
    margin: auto;
    padding: auto;
    height: 100%;
    width: 90%;
    background-color: beige;
}

header{
    display: flex;
    background-color: #ff921c;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer{
        display: flex;
        background-color: #ff921c;
        height: 30px;
        border-radius: 20px;
        text-align: right;
        justify-content: center;
}

hr{
    color: green;
}

button{
    background-color: #ff921c;
    padding: 5px 10px;
}

input{
    border-color: #ff921c;
    height: 70px;
    width: 200px;
    border-radius: 5px;
}

.style1 {
    display: flex;
    color: rgb(17, 65, 21);
    border: 2px solid rgb(203, 203, 23);
    height: auto;
    width: 200px;
    padding: 20px 20px;
    border-radius: 10px;
    align-items: center;
}
.style2 {
    display: flex;
    color: rgb(131, 212, 43);
    border: 2px solid rgb(9, 93, 167);
    height: auto;
    width: 200px;
    padding: 30px 20px;
    border-radius: 150px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}